@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-sand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}

.raleway-way {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  
}
/* someheight-width-style */
header , main{
    max-width: 1019px;
    margin: 0 auto;
}
.responsive{
    display: none;
}
footer{
    background-color: rgba(1, 172, 253, 1);
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
/* shared-style */
.display{
    display: flex;
}


/* navbarstyles */
.navbar{
    justify-content:space-between ;
    align-items: center;
    margin-bottom: 18px;
    padding-top: 20px;
}
.nav-container{
    gap: 28px;
}
.school{
    justify-content: center;
    align-items: center;
}
.school>h3{
    font-weight: bold;
    font-size: 1.265rem;
    text-transform: uppercase;
}
.nav-link-1{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(254, 163, 1, 1);
    margin-right: ;
}
.nav-link-2{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(1, 172, 253, 1);
}

.nav-link-3{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color:rgba(5, 212, 223, 1);
}
.nav-link-4{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(93, 88, 239, 1);
}
.primary{
    width: 170px;
    background-color: rgba(254, 163, 1, 1);
    padding: 10px;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 1.1rem;
}

/* banner styles */
.banner{
    align-items: center;
    gap: 46px;
}
.banner-main>h1{
    font-weight: bold;
    font-size:3rem ;
}
#orange{
    color: rgba(254, 163, 1, 1);
}
#blue{
    color: rgba(1, 172, 253, 1);
}
.banner-des{
    color:rgba(17, 17, 17, 1);
    font-size: 1.1rem;
}
.banner-btn{
    width: 168px;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: rgba(17, 17, 17, 1);
    margin-top: 20px;
}
/* .banner-img{
    width: 100%;
} */

/* curriculumstyles */

.curriculum{
    background-image: url("assets/bg.png");
}
.curriculum-title{
    margin-top: 60px;
    font-weight: bold;
    font-size: 2.53rem;
    text-align: center;
}

.card-container{
    gap: 28px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.card1{
    background-image: linear-gradient(rgba(222, 245, 255, 1) 40%,rgba(255, 255, 255, 0)60%);
   border:0.94px solid rgba(222, 245, 255, 1);
   border-radius: 19px;
   padding: 46px 35px;
   text-align: center;
}
.card2{
    background-image: linear-gradient(rgba(255, 244, 220, 1) 40%,rgba(255, 255, 255, 0.4)60%);
    border: 0.94px solid rgba(255, 244, 220, 1);
    border-radius: 19px;
   padding: 46px 35px;
   text-align: center;
}
.card3{
    background-image: linear-gradient(rgba(238, 225, 255, 1)40%,rgba(255, 255, 255, 0)60%);
    border: 0.94px solid rgba(242, 232, 255, 1);
    border-radius: 19px;
    padding: 46px 35px;
    text-align: center;
}
.card-title{
    font-weight: bold;
    font-size: 1.32rem;
}
.curriculum-des{
    font-size: 0.82rem;
}
.read-1{
    color: rgba(100, 200, 255, 1);
    margin-top: 25px;
    font-size: .825rem;
    font-weight: bold;
}
.read-2{
    color: rgba(240, 170, 0, 1);
    margin-top: 30px;
    font-size: .825rem;
    font-weight: bold;
}

.read-3{
    color: rgba(135, 0, 255, 1);
    margin-top: 30px;
    font-size: .825rem;
    font-weight: bold;
}
.sign-container{
    text-align: center;
}
.sign{
height: 52.8px;
width: 52px;
margin-right: 10px;
background-color:rgba(254, 163, 1, 1);
border-radius: 50%;
color: white;
border: none;
font-size: 1.3rem;
font-weight: bold;
}

/* footer-style */

.foot-img{
    height: 85px;
}

.footer-container{
    justify-content: space-between;
    /* gap: 100px; */
    padding: 108px 200px 153px 123px;
}

.logo-container{
    gap: 8px;
}

/* stories section */
.stories{
/* padding-left: 130px;
padding-right: 130px; */
background-image: linear-gradient(rgba(255, 255, 255, 0.3) 20%,rgba(254, 163, 1, 0.3) ),url("assets/bg.png");

}
.stories>h1{
    font-weight: bold;
    font-size: 2.54rem;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 60px;
}

.container{
    margin-bottom: 80px;
    max-width: 1020px;
    margin: 0 auto;
    gap: 18px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.story1,.story2,.story3,.story4 ,.story5{
    border-radius: 18px;
    border: none;
}
.story1-img,.story2-img,.story3-img,.story4-img,.story5-img{
    border-radius: 18px 18px 0 0;
    width: 100%;
}
.story1-btn{
    background-color: rgba(60, 216, 232, 1);
    border-radius: 45px;
    color:white;
    padding:14px 12px;
    border: none;
}
.story1-btn-container{
    margin-top: -20px;
    margin-left: 30px;
    margin-bottom: 36px;
}

.part2{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 17px;
}
.btn{
    margin-top: 70px;
    padding-bottom: 60px;
    text-align: center;
}
.story-btn{
    width: 170px;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px;
}
.story1>h2{
    padding-left: 37px;
}
.story1-des{
    font-size: 0.88rem;
    color: rgba(102, 102, 102, 1);
    padding-left: 37px;
    padding-right: 68px;
    margin-top: 45px;
    padding-bottom: 30px;
}
.story2-btn ,.story4-btn ,.story5-btn{
    border: none;
    border-radius: 45px;
    background-color: rgba(149, 178, 38, 1);
    color: white;
    padding: 9px 18px;
    font-size: .88rem;
}
.story3-btn{
    border: none;
    border-radius: 45px;
    background-color: rgba(93, 88, 240, 1);
    color: white;
    padding: 9px 18px;
    font-size: .88rem;
}
.story2-4-5-btn-container{
    margin-top: -20px;
    margin-left: 30px;
    margin-bottom: 23px;
}
.story-3-btn-container{
    margin-top: -20px;
    margin-left: 30px;
    margin-bottom: 23px;
}
.common{
    color: rgba(0, 0, 0, 1);
    font-size: .88rem;
    font-weight: bold;
    padding-left: 35px;
    padding-right: 43px;
    padding-bottom: 25px;
}



.bg{
    background-color: rgba(255, 255, 255, 1);

}





@media screen and (max-width : 570px) {
    .school>h3 ,.nav-container,.primary{
        display: none;
    }
    .responsive{
        display: block;
        border: none;
        height: .5px;
        background-color:rgba(254, 163, 1, 1);
    }

    .banner{
        flex-direction: column-reverse;
    }
    .banner-main{
        text-align:center ;
    }
    .banner-img {
    width: 100%;
    }
    .banner-main>h1{
        font-size: 2rem;
    }

    /* curriculum-section */
.curriculum-title{
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.card-container{
    flex-direction: column;
    margin-top: 15px;
}
.sign-container{
    display: none;
}
/* footers */
.footer-container{
    flex-direction: column;
    /* justify-content: left;
    align-items: start; */
    padding-left: 30px;
}
/* our storie */

.story1{
    display: none;
}

.part2{
    padding-left: 40px;
}









}