@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-sand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}

.raleway-way {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  
}
/* someheight-width-style */
header , main{
    max-width: 1019px;
    margin: 0 auto;
}
.responsive{
    display: none;
}
footer{
    background-color: rgba(1, 172, 253, 1);
    color: white;
}

/* shared-style */
.display{
    display: flex;
}


/* navbarstyles */
.navbar{
    justify-content:space-between ;
    align-items: center;
    margin-bottom: 18px;
}
.nav-container{
    gap: 28px;
}
.school>h3{
    font-weight: bold;
    font-size: 1.265rem;
    text-transform: uppercase;
}
.nav-link-1{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(254, 163, 1, 1);
    margin-right: ;
}
.nav-link-2{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(1, 172, 253, 1);
}

.nav-link-3{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color:rgba(5, 212, 223, 1);
}
.nav-link-4{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(93, 88, 239, 1);
}
.primary{
    width: 170px;
    background-color: rgba(254, 163, 1, 1);
    padding: 10px;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 1.1rem;
}

/* banner styles */
.banner{
    align-items: center;
    gap: 46px;
}
.banner-main>h1{
    font-weight: bold;
    font-size:3rem ;
}
#orange{
    color: rgba(254, 163, 1, 1);
}
#blue{
    color: rgba(1, 172, 253, 1);
}
.banner-des{
    color:rgba(17, 17, 17, 1);
    font-size: 1.1rem;
}
.banner-btn{
    width: 168px;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: rgba(17, 17, 17, 1);
    margin-top: 20px;
}
/* .banner-img{
    width: 100%;
} */

/* curriculumstyles */

.curriculum{
    background-image: url("assets/bg.png");
}
.curriculum-title{
    margin-top: 60px;
    font-weight: bold;
    font-size: 2.53rem;
    text-align: center;
}

.card-container{
    gap: 28px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.card1{
    background-image: linear-gradient(rgba(222, 245, 255, 1) 40%,rgba(255, 255, 255, 0)60%);
   border:0.94px solid rgba(222, 245, 255, 1);
   border-radius: 19px;
   padding: 46px 35px;
   text-align: center;
}
.card2{
    background-image: linear-gradient(rgba(255, 244, 220, 1) 40%,rgba(255, 255, 255, 0.4)60%);
    border: 0.94px solid rgba(255, 244, 220, 1);
    border-radius: 19px;
   padding: 46px 35px;
   text-align: center;
}
.card3{
    background-image: linear-gradient(rgba(238, 225, 255, 1)40%,rgba(255, 255, 255, 0)60%);
    border: 0.94px solid rgba(242, 232, 255, 1);
    border-radius: 19px;
    padding: 46px 35px;
    text-align: center;
}
.card-title{
    font-weight: bold;
    font-size: 1.32rem;
}
.curriculum-des{
    font-size: 0.82rem;
}
.read-1{
    color: rgba(100, 200, 255, 1);
    margin-top: 25px;
    font-size: .825rem;
    font-weight: bold;
}
.read-2{
    color: rgba(240, 170, 0, 1);
    margin-top: 30px;
    font-size: .825rem;
    font-weight: bold;
}

.read-3{
    color: rgba(135, 0, 255, 1);
    margin-top: 30px;
    font-size: .825rem;
    font-weight: bold;
}



/* footer-style */

.foot-img{
    height: 85px;
}

.footer-container{
    justify-content: space-between;
    /* gap: 100px; */
    padding: 108px 200px 153px 123px;
}

.logo-container{
    gap: 8px;
}









@media screen and (max-width : 570px) {
    .school>h3 ,.nav-container,.primary{
        display: none;
    }
    .responsive{
        display: block;
        border: none;
        height: .5px;
        background-color:rgba(254, 163, 1, 1);
    }

    .banner{
        flex-direction: column-reverse;
    }
    .banner-main{
        text-align:center ;
    }
    .banner-img {
    width: 100%;
    }
    .banner-main>h1{
        font-size: 2rem;
    }

    /* curriculum-section */
.curriculum-title{
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.card-container{
    flex-direction: column;
    margin-top: 15px;
}

/* footers */
.footer-container{
    flex-direction: column;
    /* justify-content: left;
    align-items: start; */
    padding-left: 30px;
}










}